<div class="example-inner">
  <loader [windowConfig]="windowConfig"></loader>

  <menu-bar [windowConfig]="windowConfig"></menu-bar>

  <kendo-tabstrip (tabSelect)="windowConfig.window.window.instance.bringToFront()">

      <kendo-tabstrip-tab title="Details" [selected]="true">
        <ng-template kendoTabContent>
          <div>
            <form class="k-form k-form-horizontal" [formGroup]="formGroup" (click)="windowConfig.window.window.instance.bringToFront()">
                <fieldset class="k-form-fieldset" >
                  <form-controller [windowConfig]="windowConfig" [formGroup]="formGroup"></form-controller>
                </fieldset>
            </form>
          </div>
          </ng-template>
      </kendo-tabstrip-tab>

  </kendo-tabstrip>

  <navigation-bar [windowConfig]="windowConfig"></navigation-bar>

</div>
