<div class="example-inner">
  <div class="k-loading-panel" *ngIf="windowConfig.window.loading.isLoading">
    <div class="k-loading-panel-mask"></div>
    <div class="k-loading-panel-wrapper">
      <kendo-loader
        type="infinite-spinner"
        themeColor="primary"
        size="large"
      >
      </kendo-loader>
      <div class="k-loading-panel-text">Loading...</div>
    </div>
  </div>

  <menu-bar [windowConfig]="windowConfig"></menu-bar>

  <kendo-tabstrip (tabSelect)="window.window.instance.bringToFront()">

      <kendo-tabstrip-tab title="General" [selected]="true">
        <ng-template kendoTabContent>
          <div>
            <form class="k-form k-form-horizontal" [formGroup]="formGroup" (click)="window.window.instance.bringToFront()">
                <fieldset class="k-form-fieldset" >
                  <form-controller [windowConfig]="windowConfig" [formGroup]="formGroup"></form-controller>
                </fieldset>
            </form>
          </div>
          <br>
          <!-- <legend class="k-form-legend">User Details</legend> -->
          <div class="" style="bottom: 0px; width: 100%;">
            <grids [windowConfig]="windowConfig" [gridNumber]="0"></grids>
          </div>
          </ng-template>
      </kendo-tabstrip-tab>

      <kendo-tabstrip-tab title="Grid Editable">
        <ng-template kendoTabContent>
          <div class="searchGrid">
            <grids [windowConfig]="windowConfig" [gridNumber]="1"></grids>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
  </kendo-tabstrip>

  <navigation-bar [windowConfig]="windowConfig"></navigation-bar>

</div>
